# sets

In [ ]:
#  a set is a built-in data type that represents an unordered collection of unique elements

In [1]:
# defining an empty set

set_var=set()
print(set_var)

set()

In [3]:
type(set_var)

set

In [4]:
set_var={'avengers','ironman','hitman'}
print(set_var)

{'hitman', 'avengers', 'ironman'}

In [5]:
type(set_var)

set

In [7]:
# inbuilt function in sets

set_var.add('hulk')
print(set_var)

{'hitman', 'avengers', 'hulk', 'ironman'}

In [9]:
# Creating a Set

set1 = {1, 2, 3}
set2 = set([4, 5, 6])
print(set1)
print(set2)

{1, 2, 3}
{4, 5, 6}

In [11]:
# Adding Elements
set1.add(4)
print(set1)

{1, 2, 3, 4}

In [12]:
#removing elements

set1.remove(2)       # Raises error if element not found
set1.discard(2)      # Does NOT raise error if element not found

print(set1)
print(set1)

{1, 3, 4}
{1, 3, 4}

In [13]:
# set methods

a = {1, 2, 3}
b = {3, 4, 5}

a.union(b)           # {1, 2, 3, 4, 5}
a.intersection(b)    # {3}
a.difference(b)      # {1, 2}
a.symmetric_difference(b)  # {1, 2, 4, 5}

{1, 2, 4, 5}

In [16]:
#  Membership Test
3 in a       # True

True

In [18]:

5  in a   # false

False

In [19]:
# Looping Through a Set

for item in a:
    print(item)

1
2
3

# dictionaries

In [20]:
#  dictionary is an unordered, mutable collection of key-value pairs

In [22]:
my_dict = {
    "name": "Alice",
    "age": 25,
    "is_student": True
}
print (my_dict)

{'name': 'Alice', 'age': 25, 'is_student': True}

In [23]:
# Accessing Values

print(my_dict["name"])       # Alice
print(my_dict.get("age"))    # 25

Alice
25

In [24]:
# Adding/Updating Values

my_dict["age"] = 26          # Update
my_dict["city"] = "Paris"    # Add new key-value

print(my_dict)

{'name': 'Alice', 'age': 26, 'is_student': True, 'city': 'Paris'}

In [29]:
#  Removing Items from a Dictionary
my_dict = {"name": "Alice", "age": 25}
del my_dict["name"]  # Removes the key "name" and its value
print(my_dict)       # Output: {'age': 25}

{'age': 25}

In [30]:
# useful methods

my_dict.keys()               # Returns all keys
my_dict.values()             # Returns all values
my_dict.items()              # Returns key-value pairs

dict_items([('age', 25)])

# tuple

In [31]:
#  a tuple is an ordered, immutable collection of elements.

In [32]:
my_tuple = (1, 2, 3)
print(my_tuple)

(1, 2, 3)

In [33]:
my_tuple = 1, 2, 3
print(my_tuple)

(1, 2, 3)

In [34]:
# Accessing Elements
print(my_tuple[0])  # Output: 1

1

In [35]:
# Tuple Operations

len(my_tuple)           # Length of tuple
my_tuple.count(2)       # Count occurrences
my_tuple.index(3)       # Index of first occurrence of value

2

In [36]:
# Slicing a Tuple

my_tuple[1:3]           # Returns (2, 3)

(2, 3)

In [ ]:
# Nested Tuples