In [4]:
# Install required package first
%pip install category_encoders

import pandas as pd
import category_encoders as ce

Requirement already satisfied: category_encoders in c:\users\pacific bd\anaconda3\lib\site-packages (2.8.1)
Requirement already satisfied: numpy>=1.14.0 in c:\users\pacific bd\anaconda3\lib\site-packages (from category_encoders) (1.26.4)
Requirement already satisfied: pandas>=1.0.5 in c:\users\pacific bd\anaconda3\lib\site-packages (from category_encoders) (2.2.2)
Requirement already satisfied: patsy>=0.5.1 in c:\users\pacific bd\anaconda3\lib\site-packages (from category_encoders) (0.5.6)
Requirement already satisfied: scikit-learn>=1.6.0 in c:\users\pacific bd\anaconda3\lib\site-packages (from category_encoders) (1.7.1)
Requirement already satisfied: scipy>=1.0.0 in c:\users\pacific bd\anaconda3\lib\site-packages (from category_encoders) (1.13.1)
Requirement already satisfied: statsmodels>=0.9.0 in c:\users\pacific bd\anaconda3\lib\site-packages (from category_encoders) (0.14.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\pacific bd\anaconda3\lib\site-packages (from pandas>=1.0.5->category_encoders) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\pacific bd\anaconda3\lib\site-packages (from pandas>=1.0.5->category_encoders) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\pacific bd\anaconda3\lib\site-packages (from pandas>=1.0.5->category_encoders) (2023.3)
Requirement already satisfied: six in c:\users\pacific bd\anaconda3\lib\site-packages (from patsy>=0.5.1->category_encoders) (1.16.0)
Requirement already satisfied: joblib>=1.2.0 in c:\users\pacific bd\anaconda3\lib\site-packages (from scikit-learn>=1.6.0->category_encoders) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\pacific bd\anaconda3\lib\site-packages (from scikit-learn>=1.6.0->category_encoders) (3.5.0)
Requirement already satisfied: packaging>=21.3 in c:\users\pacific bd\anaconda3\lib\site-packages (from statsmodels>=0.9.0->category_encoders) (24.1)
Note: you may need to restart the kernel to use updated packages.

In [5]:
data = {'Category': ['A', 'B', 'C', 'A', 'B', 'C', 'A', 'B', 'C']}
df = pd.DataFrame(data)

In [6]:
df.head()

  Category
0        A
1        B
2        C
3        A
4        B

In [7]:
df.shape

(9, 1)

In [8]:
encoder = ce.BinaryEncoder(cols=['Category'], return_df=True)

In [9]:
df_binary_encoded = encoder.fit_transform(df)
df_binary_encoded

   Category_0  Category_1
0           0           1
1           1           0
2           1           1
3           0           1
4           1           0
5           1           1
6           0           1
7           1           0
8           1           1